html,
body {
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 160, 190, 0.6) 0%,
      rgba(250, 233, 117, 0.6) 100%
    ),
    url(/img/2593105.jpg);
  background-size: cover;
  text-align: center;
}
